# Dependencies
/node_modules

# Build and Distribution
/dist
/out
/release
*.asar
*.asar.unpacked

# Electron-Builder Cache
.cache/

# Logs and Debug
npm-debug.log*
.DS_Store
.vscode/

# Ignore files created during the build/package process
electron-builder-cache/
/builder-debug.yml
/builder-effective-config.yaml