[Desktop Entry]
Name=SnapDock
Exec=snapdock %U
Terminal=false
Type=Application
Icon=markdown-workspace
Comment=A minimal, modern Markdown editor
Categories=Utility;TextEditor;
