/* Base */
@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";
@import "./base/layout.css";

/* Components */
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/sidebar.css";
@import "./components/workarea.css";
@import "./components/editor.css";
@import "./components/modal.css";
@import "./components/buttons.css";
@import "./components/theme-selector.css";

/* Markdown */
@import "./markdown/markdown.css";
@import "./markdown/highlights.css";

/* Theme  */
@import "./themes/light.css";
@import "./themes/dark.css";
@import "./themes/solarized.css";
@import "./themes/arctic.css";
