/* Reset and base styles */

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: system-ui, sans-serif;
}

